@import "../constants";

.Proposal {
	overflow-y: auto;
	padding: 30px 40px;
	flex: auto;

	> .meta {

		> .title {
			font-size: 28px;
			line-height: 30px;
			margin-bottom: 20px;
		}

		> .history {
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				margin: 0 0 7px;
				padding: 0;
				font-size: 14px;
				line-height: 1.5;
				color: fade(#222, 50%);

				> .Icon {
					display: inline-block;
					width: 17px;
					height: 17px;
					vertical-align: middle;
					margin: -1px 8px 0 0;
					opacity: .7;
				}

				> .description {
					text-transform: capitalize;
					font-weight: 700;
				}

				> time {
					margin-left: 10px;
					color: fade(#222, 30%);
				}

				&:first-child {
					color: #222;
				}
			}
		}
	}

	> .proposal {
		margin: 10px 0 0;

		&.sticky-menu {
			padding-top: 104px;

			> menu {
				position: fixed;
				top: 0;
				width: 100%;
				margin-left: -20px;
				padding-left: 20px;
			}
		}

		> menu {
			margin: 0;
			padding: 30px 0;
			background-color: #fafafa;
			position: relative;
			z-index: 100;

			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				box-shadow: 0 0 10px fade(#222, 20%);
				height: 10px;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: -20px;
				right: -20px;
				height: 20px;
				background-color: #fafafa;

			}

			> a {
				display: inline-block;
				height: 44px;
				padding: 10px 10px 0 10px;
				font-size: 16px;
				color: @purple;
				opacity: .7;

				> .Icon {
					display: inline-block;
					vertical-align: middle;
					width: 17px;
					height: 17px;
					margin: -1px 8px 0 0;
				}

				&.primary, &.secondary {
					padding-left: 21px;
					padding-right: 23px;
					border-radius: 4px;
				}

				&.primary {
					background-color: @purple;
					color: #fff;
				}

				&.secondary {
					box-shadow: inset 0 0 0 1px @purple;
				}

				&.tertiary {
					margin-left: -10px;
					margin-right: -10px;
				}

				& + a {
					margin-left: 30px;

					&.tertiary {
						margin-left: 20px;
					}
				}

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
