.ProposalDocument.hatteras-design {
	padding: 75px 100px;

	> section {

		&.HtmlSection {

			> .ql-container {

				> .ql-editor {
					padding: 10px;
					margin: -10px;
					outline: 0;
				}

				> .ql-paste-manager {
					display: none;
				}
			}
		}
	}
}
